<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>MsmTracker - Edit Monster</title>
</head>
<body>
    <!-- HEADER -->
    <div class="container-fluid text-center" style="padding: .5% 0% 0% .5%;">
        <div class="row">
            <div class="col">
                <a href="/" class="btn btn-outline-secondary">Home</a>
                <a href="/mlist" class="btn btn-secondary">Monsters</a>
            </div>
            <div class="col"></div>
            <div class="col">
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign out" class="btn btn-outline-danger"/>
                    </form>
                    <span sec:authentication="name"></span>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a href="/login" class="btn btn-outline-success">Sign in</a>
                    <br>
                    <span>not signed in</span>
                </div>
            </div>
        </div>
    </div>

    <!-- BODY -->
    <div class="container" th:object="${mon}">
        <h1>Editing monster: <span th:text="${mon.nameM}"></span></h1>
        <a th:href="@{/deleteMon/{id}(id=*{idMonster})}" class="btn btn-danger">Delete</a>
    </div>

    <div class="container container-sm">
        <form action="#" th:action="@{/saveMon}" th:object="${mon}" method="post" class="form">
            <div> <input type="hidden" th:field="*{idMonster}"></div>

            <div class="mb-3">
                <label for="mName1" class="form-label">Name</label>
                <input type="text" th:field="*{nameM}" class="form-control" id="mName1">
            </div>

            <div class="mb-3"> 
                <label for="mDescription1" class="form-label">Description</label>
                <textarea type="text" th:field="*{description}" class="form-control"></textarea>
            </div>

            <div class="gx-5 p-3">
                <!-- Checkboxeilla listaksi -->
                <div class="mb-3">
                    Islands:<br>
                    <div class="row justify-content-start border rounded">
                        <div th:each="i : ${islands}" class="form-check col-3">
                            <input type="checkbox" th:field="*{islandsM}" th:value="${i.IdIsland}" th:text="' ' + ${i.nameI}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    Elements:<br>
                    <div class="row justify-content-start border rounded">
                        <div th:each="e : ${elements}" class="form-check col-3">
                            <input type="checkbox" th:field="*{elementsM}" th:value="${e.idElement}" th:text="' ' + ${e.nameE}">
                        </div>
                    </div>
                </div>
                
                <!-- Selectillä listaksi -->
                <!-- <div class="mb-3">
                    Elements:<br>
                    <select th:field="*{elementsM}" size="5" multiple>
                        <option th:each="e : ${elements}" th:value="${e.idElement}" th:text="${e.nameE}"></option>
                    </select>
                </div> -->
            </div>

            <div class="mb-3">
                <div class="mb-1">
                    Times (PTxDxHxMxS):
                </div>
                <div>
                    <input type="text" th:field="*{birthTimes}" class="form-control">
                </div>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-success"/>
            </div>
        </form>
    </div>
</body>
</html>