<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>MsmTracker - Home</title>
</head>
<body class="body body-dark">
    <!-- HEADER -->
    <div class="container-fluid text-center" style="padding: .5% 0% 0% .5%;">
        <div class="row">
            <div class="col">
                <a href="/" class="btn btn-secondary">Home</a>
                <a href="/mlist" class="btn btn-outline-secondary">Monsters</a>
            </div>
            <div class="col"></div>
            <div class="col">
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign out" class="btn btn-outline-danger"/>
                    </form>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a href="/login" class="btn btn-outline-success">Sign in</a>
                </div>
                <div><span sec:authentication="name"></span></div>
            </div>
        </div>
    </div>

    <div class="container mb-3">
        <h1>Home</h1>
        <p>Hello! Welcome to the unofficial MsmList!</p>
    </div>
    <div class="container mb-3">
        <h2>Monsters:</h2>
        <p>To view all monsters: <span><a href="/mlist">Click here</a></span></p>
        
    </div>
    
</body>
</html>